<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>

</style>
</head>

<body>
<p th:text="${person.getIin()}">VALUE</p>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getSurname()}">VALUE</p>
<p th:text="${person.getPhone()}">VALUE</p>
<p th:text="${person.getGender()}">VALUE</p>
<p th:text="${person.getCitizenship()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>
<p th:text="${person.getAccountNumber()}">VALUE</p>
<p th:text="${person.getSalary()}">VALUE</p>
<p th:text="${person.getWallet()}">VALUE</p>
</body>

</html>
